@tailwind base;

/* Write your global styles here, in PostCSS syntax */

@tailwind base;

html,
body,
#svelte {
  @apply w-full h-full p-0 m-0 font-sans text-gray-900 transition-colors duration-300 ease-in-out bg-gray-50 dark:bg-gray-900 dark:text-gray-300;
}

* {
  @apply box-border;
}

a {
  @apply text-blue-600 dark:text-blue-500;
}

a:hover {
  @apply underline;
}

@tailwind components;

@tailwind utilities;

@tailwind components;

@tailwind utilities;